h1 {
    color: red;
}

header {
    padding: 2rem;
}

.card {
    width: calc(100% / 5);
}

.container-card {
    display: flex;
}



.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}